---
import Layout from '../layouts/Layout.astro';
import heroImage from '../assets/images/img-hero.png'
---

<Layout title="Welcome to Astro." menu="about">
	<section class="">
		
	</section>
</Layout>
