---
import Layout from '../layouts/Layout.astro';
import heroImage from '../assets/images/img-hero.png'
---

<Layout title="Welcome to Astro." menu="home">
	<section class="flex flex-col lg:flex-row items-center justify-center min-h-screen p-4 md:p-10">
		<div class="w-full lg:basis-1/2 p-2 md:p-5 lg:pl-10 order-2 lg:order-1 text-center lg:text-start">
			<h1 class="text-[32px] leading-[32px] lg:text-[56px] lg:leading-[56px] uppercase mb-5 animate-slide-in-left">My name is <span class="text-[32px] leading-[32px] lg:text-[56px] lg:leading-[56px] uppercase font-bold">Muhammad Haulul Azkiyaa</span></h1>
			<p class="text-[20px] mb-5 animate-slide-in-left animate-delay-100"><span class="text-[20px] font-bold italic">Software Engineer</span> based in <span class="text-[20px] font-bold italic">Indonesia</span> 🇮🇩</p>
			<div class="flex justify-center lg:justify-start">
			<button id="btn__about_me" class="bg-[#141313] hover:bg-[#dedede] border-[#141313] border-2 text-white hover:text-black py-3 px-10 mb-5 flex items-center justify-center space-x-2 animate-slide-in-left animate-delay-200 hover:scale-105 transition-transform duration-300">
				<span>About me</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
					<rect width="24" height="24" fill="url(#paint0_linear_1_500)"/>
					<path d="M9.0002 4.80011V6.72011H15.3266L4.2002 17.8465L5.5538 19.2001L16.6802 8.07371V14.4001H18.6002V4.80011H9.0002Z" fill="white"/>
					<defs>
						<linearGradient id="paint0_linear_1_500" x1="22.638" y1="16.8886" x2="1.86848" y2="16.8323" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FFB147"/>
							<stop offset="0.520264" stop-color="#FF6C63"/>
							<stop offset="1" stop-color="#B86ADF"/>
						</linearGradient>
					</defs>
				</svg>
			</button></div>
			<div class="flex flex-row justify-center lg:justify-start items-center space-x-5 font-medium italic animate-slide-in-left animate-delay-300">
				<div class="flex items-center space-x-2">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none" class="flex-shrink-0">
						<circle cx="16" cy="16" r="16" fill="#F3F3F3"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M19.9732 11.0243C19.5943 11.0917 19.0571 11.268 18.1969 11.5548L11.706 13.7184C10.8786 13.9942 10.2948 14.1891 9.8749 14.353C9.66723 14.434 9.5226 14.4987 9.42202 14.5518C9.33684 14.5967 9.30622 14.6215 9.3044 14.6228C8.89854 15.0157 8.89853 15.6667 9.3044 16.0596C9.30622 16.0609 9.33684 16.0856 9.42202 16.1306C9.5226 16.1836 9.66723 16.2484 9.8749 16.3294C10.2948 16.4932 10.8786 16.6881 11.706 16.9639C11.725 16.9703 11.7438 16.9765 11.7625 16.9827C12.0358 17.0737 12.2759 17.1535 12.4968 17.2703C13.0293 17.5519 13.4647 17.9873 13.7463 18.5198C13.8631 18.7408 13.943 18.9808 14.0339 19.2542C14.0401 19.2728 14.0464 19.2917 14.0527 19.3107C14.3285 20.1381 14.5234 20.7218 14.6872 21.1417C14.7683 21.3494 14.833 21.494 14.8861 21.5946C14.931 21.6798 14.9558 21.7104 14.957 21.7122C15.3499 22.1181 16.001 22.1181 16.3939 21.7122C16.3951 21.7104 16.4199 21.6798 16.4648 21.5946C16.5179 21.494 16.5826 21.3494 16.6636 21.1417C16.8275 20.7218 17.0224 20.1381 17.2982 19.3107L19.4619 12.8197C19.7486 11.9595 19.9249 11.4223 19.9923 11.0434C19.9937 11.0355 19.995 11.0278 19.9963 11.0203C19.9888 11.0216 19.9811 11.0229 19.9732 11.0243ZM20.2322 11.0012C20.232 11.0014 20.2287 11.0011 20.223 10.9999C20.2295 11.0004 20.2324 11.001 20.2322 11.0012ZM20.0167 10.7936C20.0155 10.7879 20.0152 10.7846 20.0154 10.7844C20.0156 10.7842 20.0162 10.7871 20.0167 10.7936ZM19.623 9.05525C20.174 8.95723 20.9285 8.92805 21.5085 9.5081C22.0886 10.0882 22.0594 10.8427 21.9614 11.3937C21.8651 11.9351 21.6386 12.6142 21.3831 13.3805L21.3592 13.4521L19.1956 19.9431L19.1862 19.9713C18.9219 20.7642 18.7112 21.3961 18.5268 21.8687C18.3535 22.3129 18.1481 22.7732 17.8386 23.0953C16.6581 24.3237 14.6928 24.3237 13.5123 23.0953C13.2028 22.7732 12.9973 22.3129 12.824 21.8687C12.6397 21.3961 12.429 20.7642 12.1648 19.9714L12.1553 19.9431C12.0349 19.5819 12.0078 19.5106 11.9783 19.4548C11.8844 19.2773 11.7393 19.1322 11.5618 19.0383C11.506 19.0088 11.4347 18.9817 11.0735 18.8613L11.0452 18.8518C10.2524 18.5876 9.62048 18.377 9.14793 18.1926C8.70375 18.0193 8.24338 17.8138 7.92133 17.5043C6.69289 16.3238 6.69289 14.3585 7.92133 13.178C8.24338 12.8686 8.70375 12.6631 9.14793 12.4898C9.62049 12.3054 10.2524 12.0948 11.0453 11.8305L11.0735 11.8211L17.5645 9.6574C17.5884 9.64942 17.6123 9.64146 17.6361 9.63353C18.4024 9.37801 19.0815 9.15157 19.623 9.05525Z" fill="#33363F"/>
					</svg>
					<p class="text-sm md:text-base">t.me/haululazkiyaa</p>
				</div>
				<div class="flex items-center space-x-2">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none" class="flex-shrink-0">
						<circle cx="16" cy="16" r="16" fill="#F3F3F3"/>
						<rect x="8" y="10" width="16" height="12" rx="2" stroke="#33363F" stroke-width="2"/>
						<path d="M8 13L15.1056 16.5528C15.6686 16.8343 16.3314 16.8343 16.8944 16.5528L24 13" stroke="#33363F" stroke-width="2"/>
					</svg>
					<p class="text-sm md:text-base">hi@haululazkiyaa.id</p>
				</div>
			</div>
		</div>
		<div class="w-full lg:basis-1/2 p-2 md:p-5 order-1 lg:order-2">
			<img src={heroImage.src} alt="Muhammad Haulul Azkiyaa" class="w-[250px] lg:w-full max-w-md mx-auto animate-slide-in-right animate-delay-100">
		</div>
		<div class="p-5 order-3">
			<div class="flex flex-row lg:flex-col items-center justify-center space-x-2 lg:space-y-2 lg:space-x-0 animate-slide-up animate-delay-400">
				<a href="#" class="hover:scale-110 transition-transform duration-300">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
						<circle cx="20" cy="20" r="19.5" fill="white" stroke="#CCCCCC"/>
						<path d="M28.5195 10H11.4766C10.6602 10 10 10.6445 10 11.4414V28.5547C10 29.3516 10.6602 30 11.4766 30H28.5195C29.3359 30 30 29.3516 30 28.5586V11.4414C30 10.6445 29.3359 10 28.5195 10ZM15.9336 27.043H12.9648V17.4961H15.9336V27.043ZM14.4492 16.1953C13.4961 16.1953 12.7266 15.4258 12.7266 14.4766C12.7266 13.5273 13.4961 12.7578 14.4492 12.7578C15.3984 12.7578 16.168 13.5273 16.168 14.4766C16.168 15.4219 15.3984 16.1953 14.4492 16.1953ZM27.043 27.043H24.0781V22.4023C24.0781 21.2969 24.0586 19.8711 22.5352 19.8711C20.9922 19.8711 20.7578 21.0781 20.7578 22.3242V27.043H17.7969V17.4961H20.6406V18.8008H20.6797C21.0742 18.0508 22.043 17.2578 23.4844 17.2578C26.4883 17.2578 27.043 19.2344 27.043 21.8047V27.043V27.043Z" fill="black"/>
					</svg>
				</a>
				<a href="#" class="hover:scale-110 transition-transform duration-300">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
						<circle cx="20" cy="20" r="19.5" fill="white" stroke="#CCCCCC"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M20.0083 10C14.474 10 10 14.5833 10 20.2535C10 24.786 12.8666 28.6226 16.8434 29.9805C17.3406 30.0826 17.5227 29.7599 17.5227 29.4885C17.5227 29.2508 17.5063 28.436 17.5063 27.587C14.7222 28.1983 14.1425 26.3647 14.1425 26.3647C13.6951 25.1764 13.0321 24.871 13.0321 24.871C12.1209 24.2429 13.0985 24.2429 13.0985 24.2429C14.1093 24.3108 14.6397 25.2954 14.6397 25.2954C15.5343 26.857 16.9759 26.4158 17.5559 26.1441C17.6386 25.482 17.9039 25.0237 18.1856 24.7691C15.9651 24.5314 13.6289 23.6487 13.6289 19.7102C13.6289 18.5898 14.0263 17.6731 14.6561 16.9602C14.5567 16.7056 14.2087 15.6529 14.7556 14.2439C14.7556 14.2439 15.6007 13.9723 17.5061 15.2964C18.3219 15.072 19.1632 14.9578 20.0083 14.9569C20.8533 14.9569 21.7148 15.0758 22.5102 15.2964C24.4159 13.9723 25.2609 14.2439 25.2609 14.2439C25.8079 15.6529 25.4596 16.7056 25.3603 16.9602C26.0066 17.6731 26.3876 18.5898 26.3876 19.7102C26.3876 23.6487 24.0514 24.5143 21.8143 24.7691C22.179 25.0916 22.4936 25.7026 22.4936 26.6703C22.4936 28.0453 22.4773 29.1489 22.4773 29.4883C22.4773 29.7599 22.6596 30.0826 23.1566 29.9808C27.1333 28.6224 30 24.786 30 20.2535C30.0163 14.5833 25.526 10 20.0083 10Z" fill="black"/>
					</svg>
				</a>
				<a href="#" class="hover:scale-110 transition-transform duration-300">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
						<circle cx="20" cy="20" r="19.5" fill="white" stroke="#CCCCCC"/>
						<path d="M20.0059 11.8011C22.6793 11.8011 22.9959 11.8129 24.0473 11.8597C25.0244 11.9027 25.5521 12.0668 25.9038 12.2036C26.369 12.3833 26.7051 12.6021 27.053 12.9498C27.4047 13.3014 27.6197 13.6335 27.7995 14.0985C27.9363 14.4501 28.1004 14.9814 28.1434 15.9543C28.1903 17.0092 28.2021 17.3256 28.2021 19.9941C28.2021 22.6665 28.1903 22.983 28.1434 24.034C28.1004 25.0107 27.9363 25.5382 27.7995 25.8898C27.6197 26.3548 27.4008 26.6908 27.053 27.0385C26.7012 27.3901 26.369 27.605 25.9038 27.7847C25.5521 27.9215 25.0205 28.0856 24.0473 28.1285C22.992 28.1754 22.6754 28.1871 20.0059 28.1871C17.3324 28.1871 17.0158 28.1754 15.9644 28.1285C14.9873 28.0856 14.4596 27.9215 14.1079 27.7847C13.6428 27.605 13.3066 27.3862 12.9588 27.0385C12.607 26.6869 12.392 26.3548 12.2122 25.8898C12.0754 25.5382 11.9113 25.0068 11.8683 24.034C11.8214 22.9791 11.8097 22.6626 11.8097 19.9941C11.8097 17.3217 11.8214 17.0053 11.8683 15.9543C11.9113 14.9775 12.0754 14.4501 12.2122 14.0985C12.392 13.6335 12.6109 13.2975 12.9588 12.9498C13.3105 12.5982 13.6428 12.3833 14.1079 12.2036C14.4596 12.0668 14.9912 11.9027 15.9644 11.8597C17.0158 11.8129 17.3324 11.8011 20.0059 11.8011ZM20.0059 10C17.2894 10 16.9494 10.0117 15.8824 10.0586C14.8192 10.1055 14.0883 10.2774 13.4551 10.5235C12.7946 10.7814 12.2357 11.1213 11.6807 11.68C11.1218 12.2348 10.7817 12.7935 10.5237 13.4499C10.2775 14.0867 10.1055 14.8134 10.0586 15.8761C10.0117 16.9467 10 17.2866 10 20.002C10 22.7173 10.0117 23.0572 10.0586 24.1239C10.1055 25.1866 10.2775 25.9172 10.5237 26.5501C10.7817 27.2104 11.1218 27.7691 11.6807 28.3239C12.2357 28.8787 12.7946 29.2225 13.4512 29.4765C14.0883 29.7226 14.8153 29.8945 15.8784 29.9414C16.9455 29.9883 17.2855 30 20.002 30C22.7184 30 23.0584 29.9883 24.1255 29.9414C25.1886 29.8945 25.9195 29.7226 26.5527 29.4765C27.2093 29.2225 27.7682 28.8787 28.3232 28.3239C28.8782 27.7691 29.2222 27.2104 29.4763 26.554C29.7225 25.9172 29.8945 25.1905 29.9414 24.1278C29.9883 23.0611 30 22.7212 30 20.0059C30 17.2905 29.9883 16.9506 29.9414 15.884C29.8945 14.8213 29.7225 14.0906 29.4763 13.4577C29.23 12.7935 28.89 12.2348 28.3311 11.68C27.776 11.1252 27.2171 10.7814 26.5605 10.5274C25.9234 10.2813 25.1964 10.1094 24.1333 10.0625C23.0623 10.0117 22.7223 10 20.0059 10Z" fill="black"/>
						<path d="M20 15C17.2395 15 15 17.2395 15 20C15 22.7605 17.2395 25 20 25C22.7605 25 25 22.7605 25 20C25 17.2395 22.7605 15 20 15ZM20 23.2433C18.2091 23.2433 16.7567 21.7909 16.7567 20C16.7567 18.2091 18.2091 16.7567 20 16.7567C21.7909 16.7567 23.2433 18.2091 23.2433 20C23.2433 21.7909 21.7909 23.2433 20 23.2433Z" fill="black"/>
						<path d="M27 14.5C27 15.3306 26.3257 16 25.5 16C24.6694 16 24 15.3257 24 14.5C24 13.6694 24.6743 13 25.5 13C26.3257 13 27 13.6743 27 14.5Z" fill="black"/>
					</svg>
				</a>
				<svg class="hidden lg:flex" xmlns="http://www.w3.org/2000/svg" width="2" height="131" viewBox="0 0 2 131" fill="none">
					<path opacity="0.3" d="M0.999994 0L1 131" stroke="#141313" stroke-width="2"/>
				</svg>
			</div>
		</div>
	</section>
</Layout>

<script>
	let btnAboutMe = document.getElementById("btn__about_me");
	btnAboutMe.addEventListener('click', ()=>{
		window.location.href = "/about"
	})
</script>